In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("data_3aug.csv", header = 1, parse_dates = ['Date/Time'], index_col = 'Date/Time')
df.head()

,avg,max,min,avg.1,min.1,avg.2,avg.3,min.2,avg.4,max.1,...,max.9,min.9,last.1,last.2,avg.23,max.10,min.10,time.1,Daily ET0 [mm],Unnamed: 54
Date/Time,,,,,,,,,,,,,,,,,,,,,
2023-08-03 06:00:00,22.42,22.83,22.00,21.4,21.1,0,0.14,0.06,94.46,97.57,...,25.0,24.9,666.0,6477,1,1,0,0,NaN,NaN
2023-08-03 05:00:00,22.72,22.93,22.55,21.1,20.9,0,0.25,0.17,90.89,93.48,...,25.0,24.9,0.0,6482,1,1,1,0,NaN,NaN
2023-08-03 04:00:00,22.83,23.31,22.41,21.6,21.3,0,0.18,0.09,93.13,96.37,...,24.9,24.9,0.0,6477,1,1,0,0,NaN,NaN
2023-08-03 03:00:00,22.74,23.12,22.47,21.6,21.3,0,0.17,0.11,93.45,95.66,...,25.0,24.9,0.0,6494,1,1,1,0,NaN,NaN
2023-08-03 02:00:00,22.82,22.93,22.76,21.7,21.6,0,0.17,0.14,93.92,94.93,...,25.0,24.9,0.0,6494,1,1,1,0,NaN,NaN

## Renaming Columns:

In [3]:
df.columns = ['air_temp_avg', 'air_temp_max', 'air_temp_min', 'dew_avg',
       'dew_min', 'solar_rad_avg', 'vpd_avg', 'vpd_min', 'rel_humi_avg',
       'rel_humi_max', 'rel_humi_min', 'precp_sum', 'leaf_wetness_time(min)',
       'wind_speed_avg', 'wind_speed_max', 'wind_gust_max', 'wind_dir_last',
       'eag_sm1_avg', 'eag_sm2_avg', 'eag_sm3_avg', 'eag_sm4_avg',
       'eag_sm5_avg', 'eag_sm6_avg', 'VIC1_avg', 'VIC2_avg', 'VIC3_avg',
       'VIC4_avg', 'VIC5_avg', 'VIC6_avg', 'soil_temp1_avg', 'soil_temp1_max',
       'soil_temp1_min', 'soil_temp2_avg', 'soil_temp2_max', 'soil_temp2_min',
       'soil_temp3_avg', 'soil_temp3_max', 'soil_temp3_min', 'soil_temp4_avg',
       'soil_temp4_max', 'soil_temp4_min', 'soil_temp5_avg', 'soil_temp5_max',
       'soil_temp5_min', 'soil_temp6_avg', 'soil_temp6_max', 'soil_temp6_min',
       'sp_last', 'bat_last', 'del_avg', 'del_max', 'del_min', 'sun_time',
       'Daily ET0 [mm]']

## Reversing DataFrame:

In [4]:
df = df[::-1]
df.head()

,air_temp_avg,air_temp_max,air_temp_min,dew_avg,dew_min,solar_rad_avg,vpd_avg,vpd_min,rel_humi_avg,rel_humi_max,...,soil_temp6_avg,soil_temp6_max,soil_temp6_min,sp_last,bat_last,del_avg,del_max,del_min,sun_time,Daily ET0 [mm]
Date/Time,,,,,,,,,,,,,,,,,,,,,
2023-04-25 13:00:00,35.27,35.87,34.58,5.2,3.8,625,4.81,4.68,15.60,16.96,...,31.0,33.7,28.8,9365,6787,17,18,17,30.0,NaN
2023-04-25 14:00:00,35.97,36.71,35.51,6.0,4.7,957,4.98,4.83,15.85,17.36,...,27.8,28.5,27.5,9370,6796,18,18,17,60.0,NaN
2023-04-25 15:00:00,36.33,36.72,35.49,6.0,4.7,811,5.10,4.91,15.60,18.13,...,27.3,27.4,27.3,9351,6790,18,18,17,60.0,NaN
2023-04-25 16:00:00,36.58,36.99,36.16,5.9,5.2,593,5.19,5.01,15.22,16.93,...,27.2,27.4,27.2,8052,6778,18,19,17,60.0,NaN
2023-04-25 17:00:00,36.27,37.29,35.44,6.1,5.2,409,5.07,4.78,15.71,16.89,...,27.2,27.2,27.2,6949,6736,18,18,17,60.0,NaN

## Dealing with Null Values:

In [5]:
df['Daily ET0 [mm]'].fillna(0, inplace = True)
df.dropna(inplace = True)

## Selecting Only Significant Features:

In [6]:
sign = ['soil_temp1_avg','soil_temp2_avg','soil_temp3_avg','eag_sm1_avg', 'eag_sm2_avg', 'eag_sm3_avg', 'precp_sum']
df1 = df[sign]
df1.reset_index(inplace = True)
df1.head()

,Date/Time,soil_temp1_avg,soil_temp2_avg,soil_temp3_avg,eag_sm1_avg,eag_sm2_avg,eag_sm3_avg,precp_sum
0,2023-04-25 13:00:00,30.3,29.9,30.6,12.35,6.84,1.17,0.0
1,2023-04-25 14:00:00,30.5,27.7,28.0,12.83,7.10,1.20,0.0
2,2023-04-25 15:00:00,31.2,27.4,27.4,13.09,7.21,1.21,0.0
3,2023-04-25 16:00:00,31.6,27.6,27.3,13.26,7.28,1.22,0.0
4,2023-04-25 17:00:00,31.5,28.0,27.3,13.38,7.37,1.22,0.0

## Selecting Records such that all the previous 5 zero records of precipitation sum would be selected wherever first non-zero precipitation record occurs.
That way we would be able to determine the average value of respective feature and we get the idea what value should be set as a threshold.

In [7]:
val = []
for i, data in df1.iterrows():
  if data['precp_sum'] != 0:
    temp = df1.iloc[i-5:i].values
    val.append(temp)

## Combining Above Result into Single Array:

In [8]:
comb_val = np.vstack(val)

## Generating Final Dataframe:

In [9]:
final_df = pd.DataFrame(comb_val, columns = ['Date/Time', 'soil_temp1_avg', 'soil_temp2_avg', 'soil_temp3_avg', 'eag_sm1_avg','eag_sm2_avg','eag_sm3_avg', 'precp_sum'])
final_df.drop_duplicates()
final_df.drop('Date/Time', inplace = True, axis = 1)

In [10]:
final_df.head()

,soil_temp1_avg,soil_temp2_avg,soil_temp3_avg,eag_sm1_avg,eag_sm2_avg,eag_sm3_avg,precp_sum
0,25.1,27.9,28.4,15.06,8.48,1.09,0.0
1,24.8,27.7,28.4,15.05,8.49,1.09,0.0
2,24.9,27.5,28.3,15.04,8.5,1.09,0.0
3,25.7,27.4,28.1,15.04,8.5,1.11,0.0
4,26.7,27.3,28.1,15.03,8.5,1.12,0.0

## Changing Datatype of Each Column in final_df:

In [11]:
for c in final_df.columns:
  final_df[c] = final_df[c].astype('float32')

## Generating Result Dataframe:

In [12]:
col = ['soil_temp1_avg', 'soil_temp2_avg', 'soil_temp3_avg', 'eag_sm1_avg','eag_sm2_avg', 'eag_sm3_avg']
vals = final_df[col].describe().iloc[1,:].values
std = final_df[col].describe().iloc[2,:].values

In [13]:
val_with_max_error = vals + std

In [14]:
res = pd.DataFrame({'Values': val_with_max_error}, index=['SoilTemp1 >', 'SoilTemp2 >', 'SoilTemp3 >', 'Moisture1 >', 'Moisture2 >', 'Moisture3 >'])
res['Values'] = round(res['Values'],1)
print(res)

             Values
SoilTemp1 >    27.7
SoilTemp2 >    28.8
SoilTemp3 >    28.7
Moisture1 >     7.9
Moisture2 >     3.9
Moisture3 >     4.2

## If the value of specified field is greater than the mentioned values, there is a need of watering the farm.